body {
  background: #273343;
}

#container {
  max-width: 1280px;
  margin: 10px auto;
  font-family: sans-serif;
}

/* Poniżej dodajecie swoje style */

a:link
{
    color:#fff;
    text-decoration:none;
}
a:visited
{
    color:#fff;
    text-decoration:none;
}



#overlay
{   
     color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:48px;
    opacity:1;
    position:absolute;
    width:1280px;
    height:480px; 
}



#slide
{
     color:white;
    width:100%;
    height:480px;
    overflow:hidden;
    background-image:url("grafika.png");
}

.over
{
    color:white;
    width:1280px;
    height:480px;
    background-color:rgba(0, 0, 255,0.5);
    position:absolute;
    display:flex;
    justify-content:center;
    align-items:center;
}
.text2
{
     color:white;
    text-align:center;
    width:100%;
}

.style1
{
     color:white;
    font-size:80px;
    font-weight:bold;
    margin-bottom:20px;
}

.style2
{
     color:white;
    text-transform:uppercase;
    border:none;
    outline:none;
    font-size:20px;
    background-color:white;
    color:rgba(39, 163, 141);
    width:100px;
    height:40px;
    border-radius:5px;
}

.style2:hover
{
    
   transition:0.3s;
       background-color:#333333;
       color:white; 
       cursor:pointer;
}
#nav1
{
     color:white;
   margin-right:20%;
}

#nav2
{
     color:white;
    margin-left:20%;
}

.fa-arrow-circle-left
{
     color:white;
    cursor:pointer;
}

.fa-arrow-circle-right
{
    cursor:pointer;
}

#nav
{
     color:white;
    width:100%;
    background-color:#525162;
    height:95px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family: 'Montserrat', sans-serif;
}

#pierwszy
{
     color:white;
    border-left:1px solid #3c3946;
}

#nav1:hover
{
     transition:0.3s;
    color:red;
}

#nav2:hover
{
     transition:0.3s;
    color:red;
}

.pokaz
{
    letter-spacing:5px;
  border-right:1px solid #3c3946;
    height:95px;
    text-transform:uppercase;
    width:120px;
    color:#fff;  
     background-color:#009900;
     display:none;
     font-family: 'Gloria Hallelujah', cursive;
}

.pokaz:hover
{
      transition:0.3s;
 background-color:#fff;
 color:#009900;
 cursor:pointer;  
}

.nav-item
{
     color:white;
      border-right:1px solid #3c3946;
    height:95px;
    text-transform:uppercase;
    width:120px;
    color:#fff;  
       display:flex;
    justify-content:center;
    align-items:center; 
}
.nav-item:hover
{
     transition:0.225s;
 background-color:#fff;
 color:#3c3946;
 cursor:pointer;  
}
.text
{
    text-align:center;
}

@media all and (max-width:1300px)
{
    #overlay
    {
        left: 8px;
    width: calc(100% - 16px);
    }
    .over
    {
      
    width: calc(100%);
    }
}


@media all and (max-width:700px)
{
    #overlay
    {
        margin-top:60px;
    }
  
    #nav
    {
       
        width:100%;
        height:auto;
    }

   .nav-item
   {
       height:50px;
       border:none;
       width:100%;
   }
    
   #nav1
   {
       margin-right:0;
   }

   #nav2
   {
       margin-left:0;
   }


   .style1
   {
       font-size:60px;
   }

   .style3
   {
       margin-bottom:20px;
   }

   #overlay
   {
       font-size:25px;
       height:370px;
   }

   .pokaz
   {
       font-size:21px;
       display:block;
        height:70px;
       border:none;
       width:100%;
   }

   .pokaz:focus
   {
       border:none;
       outline:none;
   }
   
   #nav
   {
       display:none;
   }

}

  #main
  {
      animation:pokaz 2s;
  }
@keyframes pokaz
{
 0%
 {
      transform: translateY(40px); 
     opacity:0;
 }
 
 100%
 {
      transform: translateY(0px); 
     opacity:1;
 }

}


@keyframes toggle
{
    0%
    {
        background-color:#e62e00;
        opacity:0;
        height:0px;
    }
    100%
    {
        opacity:1;
        height:250px;
        
    }
}

@keyframes slajd
{
    from 
    {
        opacity:0;
    }

    to
    {
        opacity:1;
    }
}