body {
  background: #273343;
  margin: 0;
  color:white;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#container {
  max-width: 1280px;
  margin: 10px auto;
  font-family: sans-serif;
}
/* Poniżej dodajecie swoje style */

a:link
{
    color:#fff;
    text-decoration:none;
}
a:visited
{
    color:#fff;
    text-decoration:none;
}


#overlay
{
  color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:48px;
    opacity:1;
  position:absolute;
    width:100%;
    height:480px; 
}



#slide
{
    width:100%;
    height:480px;
    overflow:hidden;
    background-image:url("grafika.png");
}

#over
{
  color:white;
    width:1280px;
    height:480px;
    background-color:rgba(0, 0, 255,0.5);
    position:absolute;
    display:flex;
    justify-content:center;
    align-items:center;
}
.text2
{
    text-align:center;
    width:100%;
}

.style1
{
    font-size:80px;
    font-weight:bold;
    margin-bottom:20px;
}

.style2
{
    text-transform:uppercase;
    border:none;
    outline:none;
    font-size:20px;
    background-color:white;
    color:rgba(39, 163, 141);
    width:100px;
    height:40px;
    border-radius:5px;
}

.style2:hover
{
   transition:0.3s;
       background-color:#333333;
       color:white; 
       cursor:pointer;
}
#nav1
{
   margin-right:20%;
}

#nav2
{
    margin-left:20%;
}

.fa-arrow-circle-left
{
    cursor:pointer;
}

.fa-arrow-circle-right
{
    cursor:pointer;
}

#nav
{
  color:white;
    width:100%;
    background-color:#525162;
    height:95px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family: 'Montserrat', sans-serif;
}

#pierwszy
{
    border-left:1px solid #3c3946;;
}

#nav1:hover
{
     transition:0.3s;
    color:red;
}

#nav2:hover
{
     transition:0.3s;
    color:red;
}

.pokaz
{
    letter-spacing:5px;
  border-right:1px solid #3c3946;
    height:95px;
    text-transform:uppercase;
    width:120px;
    color:#fff;  
     background-color:#009900;
     display:none;
     font-family: 'Gloria Hallelujah', cursive;
}

.pokaz:hover
{
      transition:0.3s;
 background-color:#fff;
 color:#009900;
 cursor:pointer;  
}

.nav-item
{
      border-right:1px solid #3c3946;
    height:95px;
    text-transform:uppercase;
    width:120px;
    color:#fff;  
       display:flex;
    justify-content:center;
    align-items:center; 
}
.nav-item:hover
{
     transition:0.225s;
 background-color:#fff;
 color:#3c3946;
 cursor:pointer;  
}
.text
{
    text-align:center;
}

@media all and (max-width:1279px)
{
   #container
    {
        width:90%;
    } 
    #over
    {
        width:90%;
    }
}


@media all and (max-width:700px)
{
    #overlay
    {
        margin-top:60px;
    }
    .container
    {
        width:90%;
    }
    #nav
    {
       
        width:100%;
        height:auto;
    }

   .nav-item
   {
       height:50px;
       border:none;
       width:100%;
   }
    
   #nav1
   {
       margin-right:0;
   }

   #nav2
   {
       margin-left:0;
   }


   .style1
   {
       font-size:60px;
   }

   .style3
   {
       margin-bottom:20px;
   }

   #overlay
   {
       font-size:25px;
       height:370px;
   }

   .pokaz
   {
       font-size:21px;
       display:block;
        height:70px;
       border:none;
       width:100%;
   }

   .pokaz:focus
   {
       border:none;
       outline:none;
   }
   
   #nav
   {
       display:none;
   }

}

  #main
  {
      animation:pokaz 2s;
  }
@keyframes pokaz
{
 0%
 {
      transform: translateY(40px); 
     opacity:0;
 }
 
 100%
 {
      transform: translateY(0px); 
     opacity:1;
 }

}


@keyframes toggle
{
    0%
    {
        background-color:#e62e00;
        opacity:0;
        height:0px;
    }
    100%
    {
        opacity:1;
        height:250px;
        
    }
}

@keyframes slajd
{
    from 
    {
        opacity:0;
    }

    to
    {
        opacity:1;
    }
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 1140px;
  height: 460px;
  background: #38475a;
}

.item h3{
  margin: 0;
  color: #22af8d;
  text-transform: uppercase;
}

.item p{
  margin: 10px 0 0;
  color: #6a8493;
}

.item__border {
  margin: 20px 0 0;
  width: 60px;
  border-top: #6a8493 solid 1px;
}

.item__container {
  display: flex;
  margin: 36px 0 0;
}

.item__container img {
  margin: 0 12px 20px 12px;
  width: 170px;
  height: 170px;
  border-radius: 100%;
  transition: all 700ms ease-in-out;
}

.item__container img:hover {
  border-radius: 25%;
  animation: rotate 1000ms;
}

@-webkit-keyframes rotate {
  0% {transform: rotateZ(0deg);}
  100% {transform: rotateZ(360deg);}
}

.item__container h3 {
  color: #88dec1;
}

.item__container p {
  margin-top: 8px;
}

@media screen and (max-width: 1280px){
  #container {
    width: 100%;
  }

  .item {
    width: 90%;
  }
}

@media screen and (max-width: 992px){

  .item__container img {
    margin: 0 12px 20px 12px;
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 600px){
  .item {
    height: 100%;
  }

  .item h3 {
    margin: 25px 20px 0 ;
    font-size: 30px;
  }

  .item p{
    margin: 20px 30px 0;
    font-size: 20px;
  }

  .item__border {
    width: 50%;
  }

  .item__container {
    flex-direction: column;
  }

  .item__container img {
    margin: 0;
    width: 250px;
    height: 250px;
  }

  .item__container h3 {
    margin: 10px 0 5px;
  }

  .item__container p {
    margin: 0 0 40px;
  }
}
